/* Remove default margin from the body */
body {
    margin: 0px;
}

/* Apply Lato font to all elements */
* {
    font-family: 'Lato', sans-serif;
}

/* Styles for h1 headings and footer */
h1, .footer {
    background-color: brown;
    color: white;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

/* Styles for recipe card links */
.potato-omelette-link, .ham-croquettes-link {
    background-color: #F5E6D3;
    padding: 20px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    border: 5px solid #291b14;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Styles for hyperlinks */
a {     
    text-decoration: none;
    color: brown;
}     

/* Styles for images */
img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: fit-content;
    display: block;
    margin: auto;
}

/* Styles for description elements */
.descriptions {
    text-align: center;
    width: 400px;
    word-wrap: break-word;
    margin: auto;
}

/* Styles for ingredients section */
.ingredients {
    background-color: #F5E6D3;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Styles for instructions section */
.instructions {
    width: fit-content;
    max-width: 500px;
    margin: 40px auto;
    text-align: left;
    overflow-wrap: break-word;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

/* Centered titles */
.titles {
    text-align: center;
}

/* Styles for serving suggestions section */
.serving-suggestions {
    background-color: #F5E6D3;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Styles for link container */
.link-container {
    text-align: center;
    background-color: brown;
    margin: 40px auto;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Simple divider to separate sections visually  */

.divider {
  height: 1px;
  background: #e5e5e5;
  margin: 40px 0;
}

.section-note {
   
  text-align: center;    
  margin: 20px 0;       
  font-style: italic;     
}

.line-deco {
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
  vertical-align: middle;
}